<div class="centered-content">
  <div class="white-box">
    <h1 class="title">Login to your account</h1>

    <div class="field">
      <p class="control">
        <input #emailInput class="input" type="email" placeholder="Email" />
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input
          #passwordInput
          class="input"
          type="password"
          placeholder="Password"
        />
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button
          class="button-primary"
          id="login"
          (click)="onLoginButtonClick(emailInput.value, passwordInput.value)"
        >
          Login
        </button>
      </p>
    </div>
    <br />
    <p>Don't have an account? <a routerLink="/signup">Sign up!</a></p>
  </div>
</div>
