<form [formGroup]="form">
  <div class="field">
    <input
      #listTitleInput
      type="text"
      name=""
      id=""
      placeholder="List name"
      formControlName="title"
      appFocus
    />

    <textarea
      #listDescriptionInput
      rows="4"
      cols="50"
      name=""
      id=""
      placeholder="List description"
      formControlName="description"
    ></textarea>

    <button
      class="button-primary"
      type="submit"
      (click)="createList(listTitleInput.value, listDescriptionInput.value)"
    >
      Create
    </button>
  </div>
  <p class="error-text" *ngIf="title.errors?.minlength && title.touched">
    Min length of list's name should be 3 symbols
  </p>
</form>
